@font-face { 
  font-family: 'Futura PT'; 
  src: url('../font/FuturaPT-Medium.ttf')  format('truetype');
  font-weight: normal; 
  font-style: normal; 
}

@font-face { 
  font-family: 'Futura PT'; 
  src: url('../font/FuturaPT-Bold.ttf')  format('truetype');
  font-weight: 900; 
  font-style: normal; 
}

@font-face { 
  font-family: 'Futura PT'; 
  src: url('../font/FuturaPT-Light.ttf')  format('truetype');
  font-weight: 300; 
  font-style: normal; 
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Futura PT", sans-serif;
}

h1 {
  padding-top: 100px;
  font-size: 45px;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  margin: 50px 0 15px;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #666767;
}

h3 {
  margin-bottom: 35px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 25px;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.separator {
  background: #ffba00;
  width: 120px;
  height: 3px;
  margin: 0 auto;
  border-radius: 5px;
  margin-bottom: 50px;
}

.presentation {
  padding-bottom: 60px;
  color: #2d302e;
  text-align: center;
  background-color: rgba(2, 2, 1, 0.7);
  background: #e0a70c url(../img/jeshoots-com-pUAM5hPaCRI-unsplash.jpg) no-repeat center top /cover;
}

.presentation a {
  color: #ffffff;
  text-decoration: none;
}

.presentation a:hover {
  color: #7c9556;
}

a {
  color: #2d302e;
  text-decoration: none;
}

a:hover {
  color: #7c9556;
}

.presentation-img {
  margin: 50px auto 10px;
}

.my-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.contacts ul {
  list-style-type: none;
}

.contacts li a {
  color: #2d302e;
}

.about-text {
  line-height: 1.5;
  padding: 0 5%;
}

.about-text p {
  padding: 5px 0;
  text-indent: 1.5em;
  font-size: 16px;
  font-weight: 300;
}

.skills {
  background: #e1e0e6;
  color: #333333;
  padding: 55px 0;
  margin: 50px 0;
}

.skills h2 {
  margin-top: 0;
  margin-bottom: 15px;
  color: #ffffff;
}

.skillset {
  display: flex;
  justify-content: center;
}

.skillset ul {
  list-style-type: square;
}

.skillset ul li {
  padding: 5px;
  font-weight: normal;
  font-size: 20px;
}

.education-story li {
  padding: 10px 0;
  list-style-type: none;
  font-weight: 300;
}

.education-story span {
  font-weight: 700;
}
.education {
  padding-bottom: 55px;
}
.education-online p {
  padding: 15px 0;
  font-weight: 700;
  color: #7c9556;
}

.education-online ul {
  padding-left: 35px;
  list-style-type: square;
  font-weight: normal;
}

.education-story, .education-online {
  padding: 0 5%;
}

.english {
  padding-bottom: 50px;
  line-height: 1.5;
  background: #e1e0e6;
  color: #333333;
}

.english h2 {
  padding-top: 50px;
  color: #ffffff;
}

.english-text {
  display: flex;
  justify-content: center;
}

.english-text p {
  width: 60%;
  line-height: 1.5;
  font-weight: 300;
}

.footer {
  padding: 20px 0;
  background: #7c9556;
  color: #ffffff;
  text-align: center;
}