* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  padding: 130px 0 20px 0;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  margin: 50px 0;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #666767;
}

h3 {
  margin-bottom: 50px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 30px;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.separator {
  background: #ffba00;
  width: 120px;
  height: 5px;
  margin: 0 auto;
  border-radius: 5px;
  margin-bottom: 50px;
}

.presentation {
  padding-bottom: 50px;
  color: #ffffff;
  text-align: center;
  background-color: rgba(2,2,1,0.7); 
  background: url(../img/luke-chesser-3POMgLjfYv0-unsplash.jpg) no-repeat center top /cover;
}

.presentation a {
  color: #ffffff;
  text-decoration: none;
}

.presentation a:hover {
  color: #ffffff;
  text-decoration: underline;
}

a:visited {
  color: #ffba00;
}

a:hover {
  color: #ff4800;
}

.presentation-img {
  margin: 50px auto;
}

.my-photo {
  width: 150px;
  height: 150px;
  border: 3px solid #ffffff;
  border-radius: 50%;
}

.contacts ul {
  list-style-type: none;
}

.about-text p {
  padding: 5px 0;
  text-indent: 1.5em;
  font-size: 16px;
}

.skillset ul li {
  padding: 5px;
  text-transform: uppercase;
}

.education-story li {
  padding: 10px 0;
  list-style-type: none;
}

.education-story span {
  font-weight: 700;
}

.education-online p {
  padding: 15px 0;
  font-weight: 700;
}

.english {
  padding-bottom: 50px;
}

.english-text {
  text-align: center;
}

.footer {
  padding: 20px 0;
  background: linear-gradient(
    90deg,
    rgba(217, 94, 38, 0.9) 0%,
    rgba(230, 199, 30, 0.9) 35%,
    rgba(227, 196, 46, 0.9) 66%,
    rgba(255, 186, 0, 0.9) 100%
  );
  text-align: center;
  color: #ffffff;
}
